.skillsContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 0 1rem 8rem 1.5rem;
}

.skills-heading {
  font-size: 3.5rem;
  font-weight: 700;
  color: white;
  margin-left: 0;
  margin-bottom: 1.5rem;
}

.scroll {
  position: relative;
  display: flex;
  max-width: 100%;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask-image: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
}

.tagList {
  white-space: nowrap;
  animation: scroll var(--time) linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.specItem {
  display: inline-flex;
  margin: 0.5rem;
  background: #1c1c1c;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: 0.5s;
}



.tagList.scroller__inner2 {
  white-space: nowrap;
  animation: scroll2 var(--time) linear infinite; /* Changed the animation name */
}

@keyframes scroll2 {
  0% {
    transform: translateX(-100%); /* Changed the initial translation */
  }
  100% {
    transform: translateX(0); /* Changed the final translation */
  }
}

/* This will apply when the screen width is 600px or less */
/* @media (max-width: 700px) {
  .scroll
   {
    max-width: 100%;
  }
} */
