.about-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 8rem 1rem 8rem 1rem;
}

.about-heading {
  font-size: 3.5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 1rem;
}

.about-paragraph {
  font-size: 2.5rem;
  color: white;
  text-align: left;
}
